
APP_NAME=fastapi-oracle-app
APP_ENV=dev

DB_USER=app_user
DB_PASSWORD=app_password
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE_NAME=ORCLPDB1

DB_POOL_MIN=1
DB_POOL_MAX=10
DB_POOL_INC=1

JWT_SECRET_KEY=super-secret-key
JWT_ACCESS_MIN=30
JWT_REFRESH_DAYS=7
